table{
  border: 1px solid black;
}
.navitem {
  display: inline-block;
  width: 70px;
}

th, td {
    border: 15px solid lightgrat;
    color: lightgray;
    width: 150px;
    text-align: center;
}
body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

p {
  color: lightgray;
}

form{
  color: lightgray;
}

h2{
  color: lightgray;
}

a: link, a:visited{

}
a: hover, a:active {

}


.mainHeader img {
  width: 30%
  height:auto;
  margin: 2% 0;
}
.mainHeaderNav nav {
  background-color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.mainHeaderNav nav ul{
  list-style: none;
  margin: 0 auto;
}
