
.navitem {
  display: inline-block;
  width: 70px;
}

th, td {
    color: lightgray;
    width: 150px;
    text-align: center;
}
body {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

p {
  color: lightgray;
}

form{
  color: lightgray;
}

h2{
  color: lightgray;
}
a: link, a:visited{

}
a: hover, a:active {

}
.mainHeader img {
  width: 30%
  height:auto;
  margin: 2% 0;
}
.mainHeaderNav nav {
  background-color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.mainHeaderNav nav ul{
  list-style: none;
  margin: 0 auto;
}

}
.body{
  margin: 0 auto;
  width: 70%;
  clear: both;
}


.rgba-primary-0 { color: rgba(103, 50,  0,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba( 65, 32,  2,1) }
.rgba-primary-2 { color: rgba( 79, 39,  0,1) }
.rgba-primary-3 { color: rgba(155, 76,  0,1) }
.rgba-primary-4 { color: rgba(211,103,  0,1) }
