hgroup{
  color: lightgray;
}
main{
  display: flex;
}
nav > ul{
  display: flex;
  justify-content:  space-between;
}

th, td {
  border: 15px solid lightgrat;
  color: lightgray;
  width: 150px;
  text-align: center;
}
form{
  color: lightgray;
}

h2{
  color: lightgray;
}
p, div {
  color: lightgray;
}
body {
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/Users/evantatum/Downloads/background%20coffeeShop.png");

}

img{
  width: 200px;
  height: 100px;
}
